<div class="container">
  <h1>Task#index</h1>

    <ol>
      <% @tasks.each do |task| %>
      <li><%= task.title %> | <%= task.description %> | <%= task.end_date %> | <%= task.done %></li>
      <% end %>
    </ol>


</div>
