<div class="container">
  <h2>Essentials</h2>

  <div class="row">
    <div class="cards" >
        <% @user_service.each do |user_service| %>
          <div class="card-product-task">
            <div class="card-product-infos">
                <div class="card-product-task-top">
                  <h2><%= user_service.service.name %></h2>
                  <%= link_to  "+", new_user_service_task_path(user_service) %>
                </div>
                <div class="card-product-task-main">
                  <% uniq_user_service = [] %>
                  <% @user_service.filter %>
                  <% user_service.tasks << uniq_user_service %>
                      <% user_service.tasks.each do |task| %>
                        <p><%= task.title %> <p>
                        <%= link_to "edit" %>
                      <% end %>
                </div>
            </div>
          </div>
        <% end %>
    </div>
  </div>

  <h2>Your Services </h2>
</div>
