<div class="banner-homepage">
  <h1>Obtenez toutes vos tâches généré par Tikit.</h1>
  <p>Inscrivez-vous à notre bibliothèque de services et générez toutes vos tâches en un clic que vous soyez un particulier ou une entreprise.</p>
</div>
