// My services - Container

.my-services {
  padding: 0 200px;
}

// My services - Title

.my-services h2 {
  margin-top: 50px;
  font-family: 'Poppins' sans-serif;
  font-size: 48px;
}

// My services - Row

.row.services-row {
  margin-top: 50px;
  display: flex;
  align-items: center;
}

// My services - Cards

.cards-services {
  display: flex;
  justify-content: space-evenly;
}

// My services - Card

.card-services {
  width: 95%;
  margin: 0 auto;
  background-color: #FFFFFF;
  border-radius: 12px;
  filter: drop-shadow(0px 4px 15px rgba(0, 0, 0, 0.1));
}

// My services - Card - Name + Logo

.card-services .name-service {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 15px 30px 10px 30px;
  height: 90px;
}

// My services - Card - Name

.card-services .name-service .service-name {
  width: 200px;
  font-family: "Inter" sans-serif;
  font-size: 36px;
  font-weight: 600;
  text-decoration: none;
  color: #000000;
  line-height: 38px;
}

// My services - Card - Logo


.card-services .name-service .logo-service {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  border: 2px solid #E8E8E8;
  display: flex;
  align-items: center;
  justify-content: center;
}

// My services - Card - Logo > img

.card-services .logo-service img {
  width: 42px;
  height: 42px;
  z-index: -1;
}

// My services - Card - Line

.card-services #line {
  margin: 0px 0px 0px 30px;
  width: 50px;
  height: 5px;
  border-radius: 30px;
  opacity: 1;
}

// My services - Card - Options

.options-service {
  display: flex;
  align-items: center;
  margin: 16px 30px;
  justify-content: space-between;
}

// My services - Card - Options > Informations

.options-service p {
  margin: 0;
  font-family: "Inter" sans-serif;
  font-size: 16px;
  font-weight: 700;
}

// My services - Card - Options > Edit

.options-service .options .fas.fa-pen {
  margin-right: 15px;
}

// My services - Card - Options > Delete

.card-services-infos {
  margin: 0px 30px;
  padding: 22px 0px;
}

// My services - Card - Line2

.card-services #line2 {
  margin: 0 auto;
  width: 85%;
  opacity: 1;
  color: #E8E8E8;
}

.card-services-infos i {
  margin-right: 10px;
}

//////////
//////////
//////////

// Available services

// My services - Container

.available-services {
  padding: 0 200px 75px 200px;
}

// My services - Title

.available-services h2 {
  margin-top: 50px;
  font-family: 'Poppins' sans-serif;
  font-size: 48px;
}

// My services - Row

.row.services-row {
  margin-top: 50px;
  display: flex;
  align-items: center;

}

.card-available-services {
  width: 95%;
  margin: 0 auto;
  background-color: #FFFFFF;
  border-radius: 12px;
  filter: drop-shadow(0px 4px 15px rgba(0, 0, 0, 0.1));
}

.card-available-services .card-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 15px 30px;
}

// Available - Card - Logo

.card-available-services .card-top .logo-service {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  border: 2px solid #E8E8E8;
  display: flex;
  align-items: center;
  justify-content: center;
}

// Available services - Card - Logo > img

.card-available-services .card-top .logo-service img {
  object-fit: contain;
  width: 42px;
  height: 42px;
  z-index: -1;
}

.card-available-services .card-top i {
  color: #000000;
}

.card-available-services .service-name {
  font-family: "Inter" sans-serif;
  font-size: 32px;
  font-weight: 600;
  text-decoration: none;
  color: #000000;
  line-height: 38px;
  height: 60px;
  display: flex;
  align-items: center;
  margin-left: 32px;
  padding: 16px 0px;
}

.card-available-services .card-bottom {
  padding-bottom: 16px;
}

.card-available-services .card-bottom p {
  margin-bottom: 0;
}

a {
  text-decoration: none;
}

.edit {
  padding-right: 15px;
}

.available-services .plus {
  padding-right: 15px
}

.return {
  align-items: center;
}

.return svg {
  height: 12px;
}

.return h4 {
  color: #000000;
  font-family: 'inter' sans-serif;
  font-weight: 500;
  font-size: 18px;
  margin: 0;
  padding-left: 5px;
}

.row.US-show h3 {
  margin-top: 20px;
}
