
.container-US-show p {

  font-size: 16px;


}


.row.US-show{

  margin: 40px 200px;
  padding: 30px 40px 30px 40px;
  display: flex;
  align-items: center;
  background-color: #fff;
  border-radius: 12px;

}

.row.US-show h3{

  text-align: start;

}

.row.US-show #line{

  border-radius: 5px;
  height: 5px;
  opacity: 1;
  width: 30%;

}
.button-user-service{
  color: black;
}

.button-user-service:hover{
  color: rgb(90, 90, 90);
}
